[submodule "mechanical_design"]
	path = mechanical_design
	url = https://github.com/jbryant57/IGVC2013Design.git
[submodule "ros_groovy_workspace/src/gps_umd"]
	path = ros_groovy_workspace/src/gps_umd
	url = https://github.com/ktossell/gps_umd.git
[submodule "ros_groovy_workspace/src/roswebkit"]
	path = ros_groovy_workspace/src/roswebkit
	url = https://github.com/geky/roswebkit.git
[submodule "embedded/lm4f/lm4f_node/navlib"]
	path = embedded/lm4f/lm4f_node/navlib
	url = https://github.com/ut-ras/Rasware2013.git
[submodule "ros_groovy_workspace/src/imu_tools"]
	path = ros_groovy_workspace/src/imu_tools
	url = https://github.com/ccny-ros-pkg/imu_tools
[submodule "rasware"]
	path = rasware
	url = https://github.com/ut-ras/Rasware2013.git
