<?xml version="1.0"?>
<launch>
  <param name="robot_description" textfile="$(find igvc_sim)/models/hal/model.urdf"/>
  
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>
</launch> 

