<launch>
  <node pkg="vision" type="color_vision_node" name="vision_left" output="screen" ns="left_camera">
    <param name="x_min" value="0.0"/>
    <param name="x_max" value="4.0"/>
    <param name="y_min" value="-4"/>
    <param name="y_max" value="4"/>
    <param name="resolution" value="0.05"/>
    
    <param name="num_color_regions" value="6"/>
    <param name="h_expansion" value="0"/>
    <param name="s_expansion" value="0"/>
    <param name="v_expansion" value="0"/>
    
    <param name="std_dev_factor" value="2.5"/>
    
    <param name="publish_debug_images" value="false"/>
  </node>
  
  <node pkg="vision" type="color_vision_node" name="vision_right" output="screen" ns="right_camera">
    <param name="x_min" value="0.0"/>
    <param name="x_max" value="4.0"/>
    <param name="y_min" value="-4"/>
    <param name="y_max" value="4"/>
    <param name="resolution" value="0.05"/>
    
    <param name="num_color_regions" value="6"/>
    <param name="h_expansion" value="0"/>
    <param name="s_expansion" value="0"/>
    <param name="v_expansion" value="0"/>
    
    <param name="std_dev_factor" value="2.5"/>
    
    <param name="publish_debug_images" value="false"/>
  </node>
  
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>
</launch>
