<?xml version="1.0"?>
<launch>
  <param name="robot_description" textfile="$(find igvc_sim)/models/hal/model.urdf"/>
  
  <node pkg="ekf" type="ekf_node.py" name="ekf_node" output="screen">
    <param name="using_gps" value="false" type="bool"/>
  </node>
  
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>
  
  <node pkg="vision" type="color_vision_node" name="vision_left" output="screen" ns="left_camera">
    <param name="x_min" value="-0.4"/>
    <param name="x_max" value="4.0"/>
    <param name="y_min" value="-4"/>
    <param name="y_max" value="4"/>
    <param name="resolution" value="0.05"/>

    <!--<param name="initial_sample_polygon" value="(0.2,0.15), (0.2,0.15), (0.5,-0.15), (0.5,0.1), (0.4,0.15)"/>-->
    <!--<param name="initial_sample_polygon" value="(0.2,0.15), (0.85,-0.5), (1.5,-0.6), (1.5,1.35), (-0.4,1.35), (-0.4,0.76), (0.05,0.3), (0.2,0.3)"/>-->
    <!--<param name="intial_sample_polygon" value="(.25, .15), (.25, .15), (1.0, .15), (1.0, -.3), (.5, -.3)"/>-->
    <param name="initial_sample_polygon" value="(.1, .3), (.1, .3), (2.0, .3), (2.0, -.3), (1.0, -.4), (.82, -.4)"/>

    <!--<param name="sample_polygon" value="(0.2,0.15), (0.2,0.15), (0.5,-0.15), (0.5,0.1), (0.4,0.15)"/>-->
    <param name="sample_polygon" value="(.25, .15), (.25, .15), (.5, .15), (.5, -.1)"/>
 
    <!--<param name="known_bad_h_min" value="0"/>
    <param name="known_bad_h_max" value="255"/>
    <param name="known_bad_s_min" value="0"/>
    <param name="known_bad_s_max" value="70"/>
    <param name="known_bad_v_min" value="190"/>
    <param name="known_bad_v_max" value="255"/>-->
    
    <param name="num_color_regions" value="6"/>
    <param name="h_expansion" value="0"/>
    <param name="s_expansion" value="0"/>
    <param name="v_expansion" value="0"/>
    <param name="std_dev_factor" value="2.5"/>
    
    <param name="publish_debug_images" value="true"/>
    <param name="only_use_initial_colors" value="true"/>
  </node>
  
  <!-- NOTE: color in right eye appears to be worse than in left -->
  <node pkg="vision" type="color_vision_node" name="vision_right" output="screen" ns="right_camera">
    <param name="x_min" value="-0.5"/>
    <param name="x_max" value="4.0"/>
    <param name="y_min" value="-4"/>
    <param name="y_max" value="4"/>
    <param name="resolution" value="0.05"/>
    
    <!--<param name="initial_sample_polygon" value="(0.2,-0.15), (0.2,-0.15), (0.5,0.15), (0.5,-0.1), (0.4,-0.15)"/>-->
    <!--<param name="initial_sample_polygon" value="(0.1,-0.1), (0.85,0.4), (1.5,0.3), (1.5,-1.25), (-0.6,-1.35), (-0.6,-0.76), (-0.1,-0.4), (0.1,-0.4)"/>-->
    <param name="initial_sample_polygon" value="(0.0, -.3), (0.0, -.3), (2.0, -.3), (2.0, .25), (1.0, .4), (.72, .4)"/>
    <!--<param name="sample_polygon" value="(0.2,-0.15), (0.2,-0.15), (0.5,0.15), (0.5,-0.1), (0.4,-0.15)"/>-->
    <param name="sample_polygon" value="(.15, -.15), (.15, -.15), (.5, -.15), (.5, .2)"/>
    
    <!--<param name="known_bad_h_min" value="0"/>
    <param name="known_bad_h_max" value="255"/>
    <param name="known_bad_s_min" value="0"/>
    <param name="known_bad_s_max" value="70"/>
    <param name="known_bad_v_min" value="190"/>
    <param name="known_bad_v_max" value="255"/>-->
    
    <param name="num_color_regions" value="6"/>
    <param name="h_expansion" value="0"/>
    <param name="s_expansion" value="0"/>
    <param name="v_expansion" value="0"/>
    <!--<param name="std_dev_factor" value="3.5"/>-->
    <param name="std_dev_factor" value="2.5"/>
    
    <param name="publish_debug_images" value="true"/>
    <param name="only_use_initial_colors" value="true"/>
  </node>
  
  <node pkg="vision" type="cloud_assimilator" name="cloud_assimilator" output="screen">
    <param name="neighborhood_radius" value="0.1"/>
    <param name="min_neighbors" value="3"/>
    <param name="angle_increment" value="0.01"/>
  </node>

</launch>
