bin
build
lib
.pydevproject
.cproject
.project
ros_groovy_workspace/devel
ros_groovy_workspace/build
*.swp
*.bak
*.a
*.o
*.d
*.dep
*.crf
*.uvopt
*.plg
*.__i
*.axf
*.out
*.exe
*.htm
*.iex
*.Jack
*.lnp
*.lst
*.map
*.opt
*.plg
*.tra
*.uvgui.*
*.xls
*.hex
*._ia
*.pyc
